#header {
text-align: center;
}
#nav{
    line-height:0px;

}
#page{
}


#nav a img{
    margin:15px 0 0 20px;
    float:left;
    border:0;
 overflow:hidden;
}

#Container{
width: 100%;
margin: 0 auto;
    background: url(../Images/Common/BackGroundB.jpg) top center  no-repeat #bfd2da;
}



#discoverContainer {background:#fff;width:852px;margin:0 auto;padding:1px 0 80px 0;}
.dText1 {background:url(../Images/PC/d_text1.png) no-repeat;width:436px;height:258px;margin:80px 0 0 40px;float:left;}
.dText1 div {display:none;}
.dP1 {background:url(../Images/PC/d_p1.png) no-repeat;width:306px;height:445px;float:right;margin:20px 10px 0;}
.dP2 {background:url(../Images/PC/d_p2.png) no-repeat;width:648px;height:481px;clear:both;margin:0 auto;}
.dP2 div {display:none;}
.dVideoWrap {position: relative;width:771px;margin:60px auto 0 auto;}
.dText3 {background:url(../Images/PC/d_text3.png) no-repeat;width:771px;height:194px;}
.dText3 div {display:none;}
.dVideo {display:block;background:url(../Images/PC/d_video.png) no-repeat;width:243px;height:136px; position: absolute;right:0;top:107px;}
.dText4 {background:url(../Images/PC/d_text4.png) no-repeat;width:769px;height:338px;margin:100px auto 0 auto;}
.dText4 div {display:none;}
.dText5 {background:url(../Images/PC/d_text5.png) no-repeat;width:448px;height:210px;float:left;margin:60px 0 0 40px;}
.dText5 div {display:none;}
.dP5 {background:url(../Images/PC/d_p5.png) no-repeat;width:273px;height:410px;float:right;margin:0 40px 0 0;}
.dText6 {background:url(../Images/PC/d_text6.png) no-repeat;width:769px;height:184px;clear:both;margin:20px 0 0 40px;}
.dText6 div {display:none;}

@media screen and (max-width : 768px){
    #discoverContainer {background:#fff;width:749px;margin:0 auto;padding:1px 0 0;line-height:180%;}

    .dText1 {background:none;width:369px;height:auto;margin:80px 0 0 40px;float:left;}
    .dP2 div {display:block;}
    .dText1 div {display:block;}
    .dText3 div {display:block;}
    .dText4 div {display:block;}
    .dText5 div {display:block;}
    .dText6 div {display:block;}
    .dText1 .title {font-size:24px;color:#f47f6a;font-weight: bold;border-bottom:1px solid #f47f6a;margin:0 0 10px 0;padding: 0 0 10px 0;}
    .dText1 .content {color:#7c7c7c;font-size:16px;margin:0 0 30px 0;}
    .dP1 {background:url(../Images/Pad/d_p1.png) no-repeat;width:306px;height:445px;float:right;margin:20px 10px 0;}
    .dP2 {padding:1px 0 0;background:url(../Images/Pad/d_p2.png) no-repeat;width:648px;height:531px;clear:both;margin:0 auto;}
    .dP2Wrap {margin:70px 0 0 50px;}
    .dP2 .header {font-size:36px;color:#7c7c7c;font-weight:bold;text-align: center;}
    .dP2 .header span {color:#f47f6a;}
    .dP2 .title {color:#f47f6a;font-size:20px;font-weight:bold;}
    .dP2 .title2 {background:url(../Images/Common/bullet2.png) no-repeat 0 5px;margin:20px 0 0;padding:0 0 0 20px;color:#7c7c7c;font-size:16px;font-weight:bold;}
    .dP2 .content {font-size:16px;color:#7c7c7c;margin:0 0 0 20px;}
    .dP2 .content2 {font-size:16px;color:#7c7c7c;margin:10px 0 0;}
    .dP2 .content2 span {color:#f47f6a;font-weight:bold;}
    .dP2 .content3 {font-size:16px;color:#7c7c7c;margin:0 0 0 44px;}
    .dP2 .content4 {font-size:16px;color:#7c7c7c;font-weight: bold;margin:15px 0 0;}
    .dVideoWrap {position: relative;width:671px;margin:60px auto 0 auto;}
    .dText3 {background:url(../Images/Pad/d_text3.png) no-repeat 0 47px;width:671px;height:163px;margin:0 auto;}
    .dText3 .title {font-weight:bold;color:#f47f6a;font-size:24px;border-bottom:1px solid #f47f6a;padding:0 0 10px 0;margin:0 0 20px 0;}
    .dText3 .title2 {font-weight:bold;color:#f47f6a;margin:0 0 10px 45px;font-size:18px;}
    .dText3 .content {color:#7c7c7c;margin:0 0 0 45px;font-size:16px;}
    .dVideo {background:url(../Images/Pad/d_video.png) no-repeat;width:243px;height:136px; position:relative;right:auto;top:auto;margin:30px auto 0 auto;}
    .dText4 {background:none;width:669px;height:296px;margin:50px auto 0 auto;}
    .dText4Box {float:left;width:313px;margin:0 10px;}
    .dText4Box .title {font-weight:bold;background:#ebf1f3;font-size:18px;color:#767676;padding:10px 10px;}
    .dText4Box .content {font-size:16px;color:#7c7c7c;padding:15px 0 15px 10px;}
    .dText4Box .content li {background:url(../Images/Common/bullet.png) no-repeat 0 8px;margin:0 0 5px 0;padding:0 0 0 20px;}
    .dText5 {background:url(../Images/Pad/d_text5.png) no-repeat;width:334px;height:250px;float:left;margin:60px 0 0 40px;}
    .dText5 .title {font-weight:bold;color:#f47f6a;margin:7px 0 10px 45px;font-size:18px;}
    .dText5 .content {color:#7c7c7c;margin:0 0 0 45px;font-size:16px;}
    .dP5 {background:url(../Images/Pad/d_p5.png) no-repeat;width:273px;height:470px;float:right;margin:40px 40px 0 0;}
    .dText6 {background:url(../Images/Pad/d_text6.png) no-repeat;width:665px;height:184px;clear:both;margin:0 0 0 40px;padding:1px 0 0;}
    .dText6 .title {font-weight:bold;float:left;color:#f47f6a;margin:7px 0 10px 45px;font-size:18px;}
    .dText6 .content {float:left;width:350px;color:#7c7c7c;margin:0 0 0 45px;font-size:16px;}
    .dText6 .content li {background:url(../Images/Common/bullet.png) no-repeat 0 8px;margin:5px 0;padding:0 0 0 20px;}
    .dText6 .pic {float:right;}
}

@media screen and (max-width:640px){
    #discoverContainer {background:#fff;width:600px;margin:0 auto;padding:1px 0 0;}

    .dText1 {margin:80px 30px 0 32px;width:auto;float:none;}
    .dText1 .title {font-size:34px;line-height:150%;}
    .dText1 .content {font-size:24px;line-height:150%;}
    .dP2Wrap {margin:50px 30px 0 30px;}
    .dP1 {float:none;margin:60px auto 0 auto;}
    .dP2 {background:url(../Images/Phone/d_p2.png) no-repeat 0 46px;width:543px;height:875px;clear:both;margin:0 auto;line-height:200%;}
    .dP2 div {line-height:150%;}
    .dP2 .title {color:#f47f6a;font-size:32px;font-weight:bold;}
    .dP2 .title2 {background-position:0 12px;}
    .dP2 .header {font-size:46px;color:#7c7c7c;font-weight:bold;text-align: center;}
    .dP2 .title2 {font-size:24px;}
    .dP2 .content {font-size:24px;}
    .dP2 .content2 {font-size:24px;}
    .dP2 .content3 {font-size:24px;}
    .dP2 .content4 {font-size:24px;}

    .dVideoWrap {position: relative;width:542px;margin:60px auto 0 auto;}
    .dText3 {background-position:0 135px;margin:0 auto 10px auto;width:auto;height:auto;}
    .dText3 .title {line-height:150%;font-size:34px;}
    .dText3 .title2 {font-size:28px;line-height:150%;}
    .dText3 .content {color:#7c7c7c;margin:0 0 0 45px;font-size:24px;line-height:150%;}
    .dVideo { position:relative;right:auto;top:auto;margin:30px auto 0 auto;}
    .dText4 {margin:50px auto 0 auto;width:auto;height:auto;}
    .dText4Box {float:none;width:auto;margin:0 30px;}
    .dText4Box .title {font-size:28px;line-height:150%;}
    .dText4Box .content {font-size:24px;line-height:150%;}
    .dText5 {float:none;margin:60px 40px 0 40px;width:auto;height:auto;}
    .dText5 .title {font-size:28px;line-height:150%;}
    .dText5 .content {font-size:24px;line-height:150%;}

    .dP5 {float:none;margin:40px auto 0 auto;width:auto;height:auto;}
    .dText6 {background-position:0 12px;clear:both;margin:0 40px 0 40px;width:auto;height:auto;}
    .dText6 .title {float:none;width:auto;font-size:28px;line-height:150%;}
    .dText6 .content {float:none;width:auto;font-size:24px;line-height:150%;}
    .dText6 .pic {float:none;text-align:center;margin:20px 0 0;}
}