#header {
text-align: center;
}
#nav{
    line-height:0px;
    margin-left:2px;

}
#page{
    margin-top:-300px;
}
#nav a {
    display:inline-block;
    width:200px;
    height:67px;
    background-image:  url(../Images/Common/menuback.png);
    background-repeat: repeat;
    margin-left:-3px;
}
#nav a img{
    margin:15px 0 0 20px;
    float:left;
    border:0;
 overflow:hidden;
}

#Container{
width: 100%;
margin: 0 auto;
}
#back{
 background: url(../Images/Common/BackGroundB.jpg) top center  no-repeat #fff;
width: 100%;
margin: 0 auto;   
height:300px;
}










#faqContainer {background:#fff;width:852px;margin:0 auto;padding:1px 0 0;}
.faq {margin:50px 0 0 43px;}
.faq1 {background: url(../Images/PC/faq1.png) no-repeat;width: 767px;height:214px;}
.faq2 {background: url(../Images/PC/faq2.png) no-repeat;width: 766px;height:121px;}
.faq3 {background: url(../Images/PC/faq3.png) no-repeat;width: 766px;height:98px;}
.faq4 {background: url(../Images/PC/faq4.png) no-repeat;width: 766px;height:122px;}
.faq5 {background: url(../Images/PC/faq5.png) no-repeat;width: 766px;height:170px;}
.faq6 {background: url(../Images/PC/faq6.png) no-repeat;width: 766px;height:148px;}
.faq7 {background: url(../Images/PC/faq7.png) no-repeat;width: 766px;height:122px;}
.faq8 {background: url(../Images/PC/faq8.png) no-repeat;width: 766px;height:146px;}
.faq9 {background: url(../Images/PC/faq9.png) no-repeat;width: 766px;height:194px;}
.faq10 {background: url(../Images/PC/faq10.png) no-repeat;width: 766px;height:170px;}


@media screen and (max-width : 768px){
    #faqContainer {background:#fff;width:749px;margin:0 auto;padding:1px 0 0;}
    .faq {margin:50px 0 0 43px;}
    .faq1 {background: url(../Images/Pad/faq1.png) no-repeat;width: 667px;height:218px;}
    .faq2 {background: url(../Images/Pad/faq2.png) no-repeat;width: 667px;height:121px;}
    .faq3 {background: url(../Images/Pad/faq3.png) no-repeat;width: 667px;height:99px;}
    .faq4 {background: url(../Images/Pad/faq4.png) no-repeat;width: 667px;height:122px;}
    .faq5 {background: url(../Images/Pad/faq5.png) no-repeat;width: 667px;height:194px;}
    .faq6 {background: url(../Images/Pad/faq6.png) no-repeat;width: 668px;height:172px;}
    .faq7 {background: url(../Images/Pad/faq7.png) no-repeat;width: 667px;height:123px;}
    .faq8 {background: url(../Images/Pad/faq8.png) no-repeat;width: 667px;height:143px;}
    .faq9 {background: url(../Images/Pad/faq9.png) no-repeat;width: 667px;height:194px;}
    .faq10 {background: url(../Images/Pad/faq10.png) no-repeat;width: 667px;height:172px;}
}

@media screen and (max-width:640px){
    #faqContainer {background:#fff;width:600px;margin:0 auto;padding:1px 0 0;}
    .faq {margin:50px 0 0 29px;}
    .faq1 {background: url(../Images/Phone/faq1.png) no-repeat;width: 544px;height:218px;}
    .faq2 {background: url(../Images/Phone/faq2.png) no-repeat;width: 544px;height:145px;}
    .faq3 {background: url(../Images/Phone/faq3.png) no-repeat;width: 544px;height:121px;}
    .faq4 {background: url(../Images/Phone/faq4.png) no-repeat;width: 544px;height:146px;}
    .faq5 {background: url(../Images/Phone/faq5.png) no-repeat;width: 544px;height:194px;}
    .faq6 {background: url(../Images/Phone/faq6.png) no-repeat;width: 544px;height:172px;}
    .faq7 {background: url(../Images/Phone/faq7.png) no-repeat;width: 544px;height:152px;}
    .faq8 {background: url(../Images/Phone/faq8.png) no-repeat;width: 544px;height:143px;}
    .faq9 {background: url(../Images/Phone/faq9.png) no-repeat;width: 544px;height:242px;}
    .faq10 {background: url(../Images/Phone/faq10.png) no-repeat;width: 544px;height:228px;}
}