.clear {clear:both;}

@media screen and (max-width : 768px){
    #Container {min-width:768px;}
    #page {width:768px;}

}

@media screen and (max-width : 640px){
    #Container {min-width:640px;}
    #page {width:640px;}
}
