body{
	background:#bfd2da;
    font-family: STHeiti,Arial;
    -webkit-text-size-adjust: none;
}
.clear {clear:both;}
.left{float:left;}
.right{float:right;}
#footer {
width: 100%;
    position: fixed;
    bottom:0;
}
#logo{
	margin:20px 0; 
	width:106px; 
	height:46px;
	border:0;
}
.current{
	background:white;
}
#footerback{
	height:63px;
	margin-top:24px;
background: url(../Images/Common/BottomBack.png) bottom center repeat-x;

}
#nav a:hover{
	background:white;
}
#footercontent{
	width:980px;
	margin:0 auto;
	height: 87px;
margin-top: -88px;
}

#footeraction{
	padding-top: 41px;
	float:right;
}

#footeraction a,#footeraction input,#footeraction img{
	float:left;
	margin-left:5px;
	margin-right:5px;
}
#footeraction a:hover{
 opacity: 0.7;
}
#footeraction .split{
	margin-top:-15px;
}

#ljdy,#mailinput{
	margin-top:5px;
    font-family: STHeiti,Arial;
}
#mailinput {width:100px;
    border:1px solid #bbb;padding:4px 3px;}
#footeraction form {float:left;width:177px; position: relative;}
#footeraction .submit {background:url('../Images/Icon/mail.png') no-repeat;width:41px;height:26px;border:none;cursor:pointer;}
#footeraction .sent {font-size:14px;color:#7c7c7c;margin:7px 0 0 6px;}
#footeraction label.error {position:absolute;left:7px;top:30px;color:#f47f6a;}

#bottomproduct{
	float:right;
}
#bottomproduct:hover {opacity:0.7;}


#bnav{
margin: 88px 44px 0 0;
padding-bottom: 50px;
}

#bnavcontent{
    float:right;
    width;400px;
}

#bnav a{
    display:inline-block;
    float:left;
    border:1px solid #eeeeee;
    width:187px;
    height:62px;
}
#bnav a:hover{
   opacity:0.7;
}

#bnav a img{
margin: 10px;
margin-left:20px;
}

#xqdj{
    float:left;
    margin:20px;
    margin-top:23px;
}



@media screen and (max-width : 768px){
    #Container {min-width:768px;}
    #page ,#footer,#footercontent{width:768px;}

    #bottomproduct{
	width: 100%;
    text-align: center;
    }
    #footeraction{
        width: 100%;
    text-align: center;
    height: 63px;
        padding-top: 0px;
    background: url(../Images/Common/BottomBack.png) bottom center repeat-x;

    }
    #footeraction a,#footeraction img{
        margin-top:10px;
            margin-left:10px;
        margin-right:10px;
    }
    #footeraction .split{
        margin-top:0px;
    }
    #ljdy{
        padding-top:15px;
    }
    #mailinput{
        margin-top:23px;
    }
    #footeraction .submit {margin:20px 0 0;}
    #footeraction label.error {top:50px;}

}

@media screen and (max-width : 640px){
    #Container {min-width:640px;}
    #page ,#footer,#footercontent{width:640px;}
    #productdiv{
        width:434px;
        margin:0 auto;
        margin-top:40px;
        text-align: center;
    }
    #footeraction a,#footeraction img{
            margin-left:8px;
        margin-right:8px;
    }
    #footeraction form {width:77px;}
    #mailinput {display:none;}
}

@media screen and (max-height : 960px){
}
